body {
    background: linear-gradient(to right, #90dbf4, #fad0c4);
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    margin: 100px auto;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

h1 {
    color: #ff4d6d;
}

button {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #e63950;
}
audio {
    display: block;
    margin: 20px auto;
}
